body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.21;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 375px;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  /* font-size: 24px; */
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  /* line-height: 1.17; */
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.section-title span {
  color: #fd9222;
}

/*-------------- HEADER------------- */

.header {
  padding-top: 20px;
  padding-bottom: 14px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-list {
  /* display: flex; */
  /* margin-left: auto; */
  gap: 24px;
  display: none;
}

.header-menu-link {
  display: block;
  color: #111111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.current {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #fd9222;
  left: 0;
  border-radius: 2px;
  bottom: 0;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-soc-list {
  /* display: flex; */
  margin-left: 90px;
  gap: 18px;
  display: none;
}
.header-soc-item {
  width: 40px;
  height: 40px;
}

.header-soc-link {
  width: 100%;
  height: 100%;
  background-color: #fd9222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-soc-link:hover {
  background-color: aquamarine;
}

.header-soc-link:hover .header-soc-icon {
  stroke: tomato;
}

.header-soc-icon {
  fill: transparent;
  stroke: #111111;
}

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #1e1823;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 88px;
}
.mob-menu-list {
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fff;
}

.mob-menu-item:first-child .mob-menu-link {
  color: #fd9222;
}

.mob-soc-list {
  display: flex;
  gap: 18px;
}

.mob-soc-item {
}

.mob-soc-link {
}

.mob-soc-icon {
  fill: transparent;
  stroke: #ffffff;
  width: 22px;
  height: 22px;
}

/*-------------- HERO------------- */

.hero {
  background-color: #1e1823;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../images/main-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  /* max-width: 1200px; */
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 375px;
}

@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/main-bg-mob-2x.jpg);
  }
}

.hero-wrapper {
  padding: 395px 20px 20px 20px;
}

.hero-title {
  /* font-size: 28px; */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 32px;
  max-width: 290px;
}
.hero-buttons {
  display: flex;
  flex-wrap: wrap;
}

.hero-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  color: #ffffff;
  cursor: pointer;
  /* padding: 14px 40px; */
  padding: 12px 28px;
  border-radius: 100px;
  border: none;
  background-color: #fd9222;
  margin-right: 14px;
  /* &:hover {
    background-color: #fcf1e0;
  } */
  /* transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  transition: background-color 900ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    color 900ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero-btn:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-btn-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  color: #ffffff;
  /* padding: 14px 40px; */
  padding: 12px 28px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.hero-btn-scroll {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(18 / 14);
  letter-spacing: -0.03em;
  color: #ffffff;
  /* margin-left: auto; */
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  &::after {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url(../images/user.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
}

/*-------------- FEATURES------------- */

.features {
  background-color: #1e1823;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.features-list {
  /* padding-left: 36px;
  padding-right: 36px; */
  display: flex;
  flex-wrap: wrap;
  /* gap: 70px; */
  gap: 20px;
}

.features-item {
  /* width: calc((100% - 140px) / 3); */
  width: 100%;
  position: relative;
  padding-right: 28px;
}

/* .features-item:not(:last-child)::after {
  content: '';
  height: 124px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -18px;
} */

.features-subtitle {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  margin-bottom: 18px;
}

.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

/*-------------- TASTE------------- */

.taste {
  /* padding-top: 100px;
  padding-bottom: 100px; */
  padding-top: 60px;
  padding-bottom: 60px;
}

.taste-title {
  max-width: 283px;
  /* margin: 0 auto 28px; */
  margin: 0 auto 24px;
}

.taste-text {
  color: #111111;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  /* max-width: 486px; */
  margin: 0 auto;
  /* margin-bottom: 50px; */
  margin-bottom: 32px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  /* row-gap: 40px;
  column-gap: 19px; */
  /* gap: 40px 19px; */
  gap: 20px;
}

.taste-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px 32px;
  /* width: calc((100% - 19px * 3) / 4); */
  width: 100%;
}

.taste-item:hover .taste-cover-text {
  transform: translateY(0);
}

.taste-image {
  margin: 0 auto 25px;
}

.taste-subtitle {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.taste-cover-wrap {
  position: relative;
  overflow: hidden;
}

.taste-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  font-size: 16px;
  background-color: #fd9222;
  border-radius: 15px;
  height: 100%;
  color: #fcf1e0;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}

/*-------------- MADE------------- */

.made {
  /* padding-bottom: 50px; */
  padding-bottom: 30px;
}

.made-title::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/love-img-1.jpg);
  background-size: contain;
}

.made-title::after {
  content: '!';
  font-size: 40px;
  color: #111111;
}

.made-title {
  /* margin-bottom: 50px; */
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.made-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.made-image {
}

.made-description {
  background-color: #ffffff;
  border-radius: 15px;
  /* padding: 32px; */
  padding: 20px 14px;
}
.made-subtitle {
  color: #111111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  /* margin-bottom: 28px; */
  margin-bottom: 20px;
}

.made-list {
  max-width: 425px;
}

.made-item {
  /* margin-bottom: 24px; */
  margin-bottom: 18px;
  position: relative;
  padding-left: 16px;
}

.made-item:before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;

  position: absolute;
  left: 0;
  top: 5px;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  color: #111111;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/*-------------- LOVED------------- */

.loved {
  /* padding-top: 50px;
  padding-bottom: 100px; */
  padding-top: 30px;
  padding-bottom: 50px;
}

.loved-title {
  /* margin-bottom: 90px; */
  margin-bottom: 74px;
}

.loved-list {
  display: flex;
  flex-wrap: wrap;
  gap: 58px;
  /* margin-bottom: 50px; */
  margin-bottom: 32px;
}

.loved-item {
  /* width: calc((100% - 56px) / 3); */
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 56px 24px 24px;
  position: relative;
}

.loved-image {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -40px;
}

.loved-subtitle {
  color: #111111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 20px;
}

.loved-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

.loved-btn {
  color: #111111;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.22;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

/*-------------- FOOTER------------- */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 24px;
}

.footer-text {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 300px;
}

.footer-text span {
  color: #fd9222;
}

.footer-subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #ffffff;
  margin-bottom: 14px;
}

.footer-address-list {
}

.footer-address-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-address-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-menu-item {
}

.footer-menu-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.footer-form {
  display: flex;
  gap: 8px;
}

.footer-field {
}

.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  background-color: transparent;
  width: 313px;
  height: 52px;
  padding-left: 24px;
  padding-right: 24px;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
}

.footer-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  color: #ffffff;
  border-radius: 100px;
  background: rgb(253, 146, 34);
  border: none;
  padding: 17px 32px;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(30, 24, 35, 0.582);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 517px;
  min-height: 794px;
  background-color: #fafafa;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 26px;
  right: 26px;
}
.modal-title {
  text-align: left;
  max-width: 300px;
  margin-bottom: 40px;
}

.input-wrap {
  position: relative;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-input {
  width: 100%;
  height: 68px;
  border: 1px solid rgba(17, 17, 17, 0.25);
  background-color: transparent;
  border-radius: 13px;
  padding-left: 62px;
  padding-right: 24px;
  font-size: 16px;
  color: aquamarine;
  outline: transparent;
}

/* .input-wrap:focus-within .modal-input {
  border-color: #fd9222;
}

.input-wrap:focus-within .modal-input-icon {
  stroke: #fd9222;
} */

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-input-icon {
  stroke: #fd9222;
}

.modal-input-icon {
  fill: transparent;
  stroke: #111111;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input::placeholder {
  font-size: 12px;
  color: tomato;
}

/* .modal-input:valid {
  background-color: rgba(0, 255, 55, 0.47);
}

.modal-input:invalid {
  background-color: rgba(255, 68, 0, 0.47);
} */

.modal-label {
  display: inline-block;
  margin-bottom: 5px;
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.modal-textarea {
  width: 100%;
  height: 137px;
  border: 1px solid rgba(17, 17, 17, 0.25);
  background-color: transparent;
  border-radius: 13px;
  padding: 24px;
  font-size: 16px;
  color: aquamarine;
  outline: transparent;
  resize: none;
}

.modal-check-text {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  align-items: center;
}

.modal-check-item {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .modal-check-text .modal-check-item {
  background-color: #fd9222;
  border: none;
  fill: #fafafa;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/main-bg-tab.jpg);
  }

  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(30, 24, 35, 0.4),
          rgba(30, 24, 35, 0.4)
        ),
        url(../images/main-bg-tab-2x.jpg);
    }
  }

  .hero-wrapper {
    padding: 670px 40px 40px 40px;
  }

  .hero-title {
    font-size: 28px;
    max-width: 484px;
  }

  .hero-btn,
  .hero-btn-link {
    padding: 14px 40px;
  }

  .hero-btn-scroll {
    margin-left: auto;
    margin-top: unset;
    align-self: end;
    &::after {
      width: 38px;
      height: 38px;
    }
  }

  .features {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .features-list {
    gap: 32px;
  }

  .features-item {
    flex-basis: calc((100% - 32px) / 2);
  }

  .taste {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .taste-list {
    gap: 32px;
  }

  .taste-item {
    width: calc((100% - 32px) / 2);
  }

  .taste-title {
    max-width: 411px;
    margin-bottom: 28px;
  }

  .taste-text {
    max-width: 486px;
    margin-bottom: 50px;
  }

  .made {
    padding-bottom: 40px;
  }

  .made-title {
    margin-bottom: 50px;
  }

  .made-description {
    padding: 32px;
  }

  .made-subtitle {
    margin-bottom: 28px;
  }

  .loved {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .loved-title {
    margin-bottom: 90px;
  }

  .loved-list {
    gap: 58px 16px;
    justify-content: center;
    margin-bottom: 50px;
  }

  .loved-item {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1165px) {
  .made .container {
    max-width: 678px;
  }
}

@media screen and (min-width: 1166px) {
  .container {
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero {
    max-width: 1200px;
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url(../images/main-bg.jpg);
  }

  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(30, 24, 35, 0.4),
          rgba(30, 24, 35, 0.4)
        ),
        url(../images/main-bg-2x.jpg);
    }
  }

  .hero-wrapper {
    padding-top: 380px;
  }

  .features-list {
    padding-left: 36px;
    padding-right: 36px;
    gap: 70px;
  }

  .features-item {
    flex-basis: calc((100% - 140px) / 3);
    padding-right: 0;
  }

  .features-item:not(:last-child)::after {
    content: '';
    height: 124px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -18px;
  }

  .taste {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .taste-list {
    gap: 40px 19px;
  }

  .taste-item {
    width: calc((100% - 19px * 3) / 4);
  }

  .made {
    padding-bottom: 50px;
  }

  .made-content {
    flex-wrap: nowrap;
  }

  .made-item {
    margin-bottom: 24px;
  }

  .loved {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .loved-list {
    gap: 28px;
  }

  .loved-item {
    width: calc((100% - 56px) / 3);
  }

  .header-menu-list,
  .header-soc-list {
    display: flex;
  }
}
